@tailwind base;
@tailwind components;
@tailwind utilities;

.texture-deco {
  @apply h-6 block;
  background-color: var(--wp--preset--color--viola-agesci);
  background-image: url(assets/images/texture.png);
  background-size: 850px;
}
