<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group">
  <!-- wp:pattern {"slug":"guidonciniverdi/alpinismo-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/artigianato-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/campismo-picture"} /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group">
  <!-- wp:pattern {"slug":"guidonciniverdi/civitas-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/esplorazione-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/espressione-picture"} /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group">
  <!-- wp:pattern {"slug":"guidonciniverdi/giornalismo-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/internazionale-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/natura-picture"} /-->
</div>
<!-- /wp:group -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group">
  <!-- wp:pattern {"slug":"guidonciniverdi/nautica-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/olimpia-picture"} /-->
  <!-- wp:pattern {"slug":"guidonciniverdi/pronto_intervento-picture"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
