<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<div class="wp-block-group">
  <!-- wp:cover {"dimRatio":50,"align":"full","layout":{"type":"constrained"}} -->
  <div class="wp-block-cover alignfull main-cover">
    <span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span>
    <div class="wp-block-cover__inner-container">
      <!-- wp:group {"className":"alignwide"} -->
      <div class="wp-block-group alignwide">
        <!-- wp:group {"className":"main-cover-text"} -->
        <div class="wp-block-group main-cover-text">
          <!-- wp:query-title {"type":"archive", "className": "has-text-color"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
  </div>
  <!-- /wp:cover -->
</div>

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
<!-- wp:query {"tagName":"main","query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"asc","orderBy":"date","search":":guidoncini-filter-specialita","inherit":false}} -->
<main class="wp-block-query taxonomy-query">
  <!-- wp:post-template -->
    <!-- wp:post-featured-image {"isLink":true} /-->
    <!-- wp:post-title {"isLink":true} /-->
    <!-- wp:post-excerpt /-->
  <!-- /wp:post-template -->

  <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
  <!-- wp:query-pagination-previous /-->

  <!-- wp:query-pagination-numbers /-->

  <!-- wp:query-pagination-next /-->
  <!-- /wp:query-pagination -->


  <!-- wp:query-no-results -->
  <!-- wp:paragraph {"placeholder":"Nessuna squadriglia sta lavorando a questa specialità."} -->
  <p>
    Nessuna squadriglia sta lavorando a questa specialità.
  </p>
  <!-- /wp:paragraph -->
  <!-- /wp:query-no-results -->
</main>
<!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
